@font-face {
    font-family: 'Gluten Medium';
    src: url('/src/fonts/Gluten-Medium.ttf');
}
@font-face {
    font-family: 'Gluten SemiBold';
    src: url('/src/fonts/Gluten-SemiBold.ttf');
}

.x {
}

.yellow-page {
    background-color: #EFF7CD;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.green-page {
    background-color: #306B34;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading {
    font-size: 150px;
    color: #EFF7CD;
    font-family: 'Gluten SemiBold';
    justify-self: center;
}

@media (prefers-reduced-motion: no-preference) {
    .loading {
      animation: loading-fade infinite 3s linear;
    }
}
  
@keyframes loading-fade {
    from {
        transition: opacity 1s ease;
    }
    to {
        opacity: 0;
        transition: opacity 3s ease;
    }
}